/* Basic Styling */
html, body {
  background-color: #E6F6FC;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
  vertical-align: bottom;
  display: table-cell;
}

#logo {
  height: 50px;
  width: auto;
  bottom: 0;
  left: 36%;
  top: 90%;
  vertical-align: bottom;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


/* Left Column */
.left-column img {
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description h3 {
  font-weight: 50;
  font-size: 40px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


/* Umbrella Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#blue + label span {
  background-color: #24aee1;
}
.color-choose input[type="radio"]#pink + label span {
  background-color: #d52683;
}
.color-choose input[type="radio"]#yellow + label span {
  background-color: #f7cd43;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Logo Upload */
.product-upload {
  display: flex;
  align-items: center;
}


.cart-btn {
  display: inline-block;
  background:url('umbrellas/upload_icon.svg') no-repeat left center;
  padding-left:20px;
  background-color: #24aee1;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 60px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #219cc9;
}
